*{
    margin: 2px;
    padding: 2px ;
}

header{
    border: 3px solid greenyellow;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#header-title {
    font-size: 64px;
    color: purple;
}

/* 후손선택자 */
header ul{
    background-color: beige;
}

.link{
    font-size: 24px;
    color: orange;
}

.link >a {
    text-decoration: underline;
    color: orange;
}

.article-title{
    font-size: 20px;
    font-weight: 900px;
}

[type="text"] {
    border: 1px solid gray;
}

[href="example"]{
    color: red;
}

#container {
    background-color: beige;
}
#container.container-btn:hover{
    cursor: pointer;
    background-color: darkgray;
    font-size: 24px;
}
